# custom
.idea
miscellaneous
notebook

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

./checkpoints
./data
./manuscripts
./physionet.org
/data/root/
/data/dataset_objects/mimic4_dp_dataset.pkl
/data/graphs/mimic4_dp_entity_mapping.pkl
/data/graphs/mimic4_dp_graph.pkl
/data/graphs/mimic4_dp_labels.pkl
/data/graphs/mimic4_dp_ptr.pkl
/checkpoints/HGT_Causal_MIMIC4_RMDL/configs.json
/checkpoints/HGT_Causal_MIMIC4_RMDL/model_v2.pt
/checkpoints/HGT_Causal_MIMIC4_RMDL/training_stats.json
/checkpoints/HGT_Causal_MIMIC4_RMDL/version.txt
/checkpoints/Hidden_Dim_ablation/mimic4/16/configs.json
/checkpoints/Hidden_Dim_ablation/mimic4/16/model_v2.pt
/checkpoints/Hidden_Dim_ablation/mimic4/16/training_stats.json
/checkpoints/Hidden_Dim_ablation/mimic4/16/version.txt
/checkpoints/Hidden_Dim_ablation/mimic4/32/configs.json
/checkpoints/Hidden_Dim_ablation/mimic4/32/model_v2.pt
/checkpoints/Hidden_Dim_ablation/mimic4/32/training_stats.json
/checkpoints/Hidden_Dim_ablation/mimic4/32/version.txt
/checkpoints/Hidden_Dim_ablation/mimic4/64/configs.json
/checkpoints/Hidden_Dim_ablation/mimic4/64/model_v2.pt
/checkpoints/Hidden_Dim_ablation/mimic4/64/training_stats.json
/checkpoints/Hidden_Dim_ablation/mimic4/64/version.txt
/checkpoints/Hidden_Dim_ablation/mimic4/128/configs.json
/checkpoints/Hidden_Dim_ablation/mimic4/128/model_v2.pt
/checkpoints/Hidden_Dim_ablation/mimic4/128/training_stats.json
/checkpoints/Hidden_Dim_ablation/mimic4/128/version.txt
/checkpoints/Hidden_Dim_ablation/mimic4/256/configs.json
/checkpoints/Hidden_Dim_ablation/mimic4/256/model_v2.pt
/checkpoints/Hidden_Dim_ablation/mimic4/256/training_stats.json
/checkpoints/Hidden_Dim_ablation/mimic4/256/version.txt
/benchmark/plots/hidden_dim_ablation_auc.png
/benchmark/plots/model_comparison_auc.png
/benchmark/aggregated_results.csv
/benchmark/summary_report.md
/.venv_narval/
/benchmark/plots/dropout_ablation_auc.png
